body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    color: #fff;
}

nav {
    background: #000000;
    padding: 40px 0;
   
  
    
}

nav ul {
    list-style: none;
    padding: 0;
    text-align:right;
    margin-right:150px;
    
}

nav ul li {
    display: inline;
    margin-right: 15px;
   
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.contact-btn {
    background: #fff;
    color: #000;
    padding: 5px 15px;
    border-radius:15px;
}
.section {
      position: relative;
      width: 100%;
      height: 430px; 
      background: #000; 
      border: none;
    }

    .left {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      background: #e0e0e0; 
      clip-path: polygon(0 0, 70% 0, 60% 100%, 0% 100%);
    }


    img{
        height: 20px;
        width: 20px;
      /* margin:4%;
       */
      padding: 42px 0;
      margin-left: 18%;
      margin-top: 2.05%;
    }

    h1{
        margin-left: 18%;
        font-family: "Railway", sans-serif;
        color: black;
        font-size: 12px;
    }

    



p{
     margin-left: 18%;
        color:black;
        font-size: 28px;
        font-weight: bold;
        font-family: "Raleway", sans-serif;
}


.rectangle{
    width: 100%;
    height: 30px;
    margin-left:   18%;
    display: flex;
    
    
/* background: rgba(196, 196, 196, 1) */


}

.box-1{
    background-color:rgba(196, 196, 196, 1);
    height: 40px;
    width: 45px;
    margin-right: 2%;
}

.box-1 img{
    height: auto;
    width: 15px;
    margin-top: -30px;
    align-items: center;
    padding-left: 6px;
    

}

.Front-end{
    font-size: 9px;
    margin-top: -23px;
    color: rgba(144, 144, 144, 1);
    margin-bottom: 8%;
}

.ismael{
    /* background-color: white; */
    display:flex;
    justify-content:flex-end;
    margin-right:19.9px;
    width:100%;
    
}

.ismael img{
    width:250px;
    height:320px;
    margin-top:-62px;
    overflow: hidden;
}


.sec-footer{
    background-color: rgba(29, 29, 29, 1);
    width: 100%;
    height: 200px;
    /* margin-top: 5px; */
    display: flex;
    flex-direction: column;
    
    

}
main{
    margin: 7%;
}

 h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
  padding-left: 12px;
 
    

}

.paragraph{
 color: white;   
 font-size: 9px;
 margin: 12px;
 line-height: 15px;
font-family: "Open Sans", sans-serif;

}


.readme{
    width: 80px;
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    margin-left: 12px;
}

.inner-div{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
     justify-content: flex-end;

}

.logoitb{
    height: 300px;
    width: auto;
    margin-top:-26%;
    margin-right: 30px;
   
   
}


.About-div{
    height: 140vh;
    width: 100%;
   background: radial-gradient(circle, rgba(26, 21, 21, 0),rgba(1, 1, 1, 0.16));
   display: flex;
   flex-direction: column;
   align-items: center;
    text-align: center;
   
}



.About-btn {
    color: #000;
    padding: 8px 40px;
    margin-top: 35px;
    list-style: none;
    border: 2px solid black; 
  background-color: transparent;
}


.About-paragr{
    font-size: 12px;
    list-style: none;
    margin-top: 15px;
    color: rgba(5, 5, 5, 1);
}


.explore{
    font-size: 12px;
    list-style: none;
    margin-top: 15px;
    color: rgba(5, 5, 5, 1);
    border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 5px;
}


li img{
    height: auto;
    width: 70px;
   
}

.slg{
    height: 20px;
    width: 20px;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.service{
    height: 200px;
    width: 50%;
    background-color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
        
    
}





.d-img{
    height: 20px;
    width: 20px;
    justify-content: flex-start;

}

.des-p{
    font-size: 10px;
}



.Skills-btn {
    color: #000;
    padding: 8px 40px;
    margin-top: 35px;
    list-style: none;
    border: 2px solid black; 
  background-color: transparent;
 
  
  
}

.using-d{
    padding-top: 19px;
    color: black;
    margin-right: 20%;
    list-style: none;
    font-weight: bold;
    
    
}


.program-div{
    height: 20vh;
    /* background-color: white; */
    width:100%;
    margin-top: 1%;
    list-style: none;
    color: #000;
    display: flex;
    justify-content: center;
    
}


.all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24%;
}





.tools-img{
    height: 40px;
    width: 40px;
    align-content: center;
}


 .tools-p {
    color: rgb(0, 0, 0);
    margin-top: -40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: small;
    
 }




.port-div{
    height: 120vh;
    width: 100%;
  background-color: #000;
   /* display: flex; */
   /* flex-direction: column; */
   align-items: center;
    text-align: center;
   
}




