body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  color: #fff;
}

nav {
  background: #000000;
  padding: 40px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: right;
  margin-right: 150px;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.contact-btn {
  background: #fff;
  color: #000;
  padding: 5px 15px;
  border-radius: 15px;
}
.section {
  position: relative;
  width: 100%;
  height: 430px;
  background: #000;
  border: none;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: #e0e0e0;
  clip-path: polygon(0 0, 70% 0, 60% 100%, 0% 100%);
}

/* img {
  height: 20px;
  width: 20px;
  padding: 42px 0;
  margin-left: 18%;
  margin-top: 2.05%;
} */

h1 {
  margin-left: 18%;
  font-family: "Railway", sans-serif;
  color: black;
  font-size: 12px;
}

.explorecaptext {
  color: black;
}

.exploresubtext {
}
/* 
p {
  color: black;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
} */

.rectangle {
  width: 100%;
  height: 30px;
  margin-left: 18%;
  display: flex;

  /* background: rgba(196, 196, 196, 1) */
}

.box-1 {
  background-color: rgba(196, 196, 196, 1);
  height: 40px;
  width: 45px;
  margin-right: 2%;
}

.box-1 img {
  height: auto;
  width: 15px;
  margin-top: -30px;
  align-items: center;
  padding-left: 6px;
}

.Front-end {
  font-size: 9px;
  margin-top: -23px;
  color: rgba(144, 144, 144, 1);
  margin-bottom: 8%;
}

.sec-footer {
  background-color: rgba(29, 29, 29, 1);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
}
main {
  margin: 7%;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  padding-left: 12px;
}

.paragraph {
  color: white;
  font-size: 9px;
  margin: 12px;
  line-height: 15px;
  font-family: "Open Sans", sans-serif;
}

.readme {
  width: 80px;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  margin-left: 12px;
}

.inner-div {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.About-div {
  height: 190vh;
  width: 100%;
  background: radial-gradient(circle, rgba(26, 21, 21, 0), rgba(1, 1, 1, 0.16));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.About-btn {
  color: #000;
  padding: 8px 40px;
  margin-top: 35px;
  list-style: none;
  border: 2px solid black;
  background-color: transparent;
}

.About-paragr {
  font-size: 12px;
  list-style: none;
  margin-top: 15px;
  color: rgba(5, 5, 5, 1);
}

.explore-btn {
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
  margin-top: 5%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 5px;
}

.separatorBlack {
  width: 170px;
  height: 12px;
  margin-top: 2%;
}

.service {
  /* width: 1090px; */

  margin-top: 2%;
}

.service-2 {
  width: 516px;
  /* background-color: blue; */
  display: flex;
}

.service-3d {
  width: 277px;
  height: 74px;
  /* background-color: aqua; */
  font-size: 22px;
  text-align: left;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 1);
}

.service-4l {
  width: 61px;
  height: 64px;

  /* background-color: #000; */
}

.service-d-t {
  display: flex;
  flex-direction: column;
  align-items: color;
  transform: translateX(-30px);
}

.service-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
}

.design-dev {
  display: flex;
  gap: 30px;
}

.Development {
  width: 516px;
  /* background-color: blue; */
  display: flex;
  transform: translatey(60px);
}

.maint-t {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.Skills-div {
  width: 50%;
  height: 500px;
}

.skills-pic {
  height: 100px;
  width: 100%;
}

.skills-text {
  text-align: center;
  color: #000;
}
.first {
  display: flex;
  flex-direction: row;
  margin-top: 15%;
}

.portfolio {
  width: 100%;
  height: 1305px;
  background-color: rgba(26, 26, 26, 1);
}

.port-im {
  width: 100%;
  height: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  padding: 8px;
  font-size: 30px;
}
.container {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}
.filterbar {
  width: 100%;
  height: 48px;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: row;
  padding-top: 12px;
  font-size: 14px;
  gap: 2%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 2%;
}
